* {
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(24, 47, 81);
    margin-top: 5px;
    font-size: x-large;
}
#input-container{
    
}
body {
    background-image: url('');
    background-size:cover;
    background-repeat: no-repeat;
    /* border-top: solid rgb(81, 81, 81) 10px; */
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav {
    display: flex;
}
.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
} 
.mainTitle {
    display: flex;
    align-items: center;
   
}
.title-image {
    /* opacity: 80%; */
    /* padding: 10px; */
    /* margin-top: 10px; */
}
.searchBar-container{
    display: flex;
    background-color: rgb(17, 0, 149);
    align-self: center;
    /* padding: 17px; */
    margin-left: 30px;
    background-size: 100px, 200px;
    /* border: 1px solid white;
    border-radius: 10px; */
    opacity: 80%;
    
}
#search-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    
}
#search-button {
    border: solid rgb(98, 98, 98) 4px;
    border-radius: 7px;
    padding: 5px;
}
#search-button:hover {
    background-color: rgb(175, 0, 0);
    color: rgb(252, 252, 252);
    border-color: white;
    cursor: url('images/photo-cursor.png'), pointer;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.29);
}
.cartButton-container {
    /* background-color: rgb(120, 120, 120); */
    align-self: center;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 17px;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 80%;
}
#cart-button {
    align-self: center;
    padding: 12px 36px;
    text-align: center;
    font-size: 35px;
    border: solid rgb(15, 37, 70) 10px;
    border-radius: 7px;
    
}
#cart-button:hover {
    background-color: rgb(3, 32, 99);
    color: rgb(252, 252, 252);
    border-color: white;
    /* cursor: url('images/photo-cursor.png'), pointer; */
    /* box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.29); */
   
}
.modal {
    display: none;
    position: absolute;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid rgb(98, 98, 98);
    border-radius: 10px;
    width: 80%;
    color: rgb(44, 26, 123);
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 32px;
}
.paintingimg{
    max-width:1000px;
    align-items: center;
    font-size: larger;
    margin-bottom: 100px;
}
.ceramicimg{
    max-width:500px;
    align-items: center;
    margin-bottom: 100px;
}
.nailimg{
    max-width:500px;
    align-items: center;
    margin-bottom: 100px;
}
p{
    font-size:xx-large;
}
#painting-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: flex;
    justify-content: space-around;
    align-self: center;
    position: relative; */
    
    /* background-image: linear-gradient(to bottom, rgb(161, 161, 161),rgba(98, 98, 98, 0)); */
    background-size: cover;
    background-color: rgb(240, 96, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* background-position: center; */
    background-size: cover;
    /* border-color: rgba(255, 255, 255, 0.804);
    padding: 80px 280px;
    cursor: url('images/photo-cursor.png'), pointer;
    transition: padding ease-out 500ms; */
}
#ceramic-button {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    /* background-image: linear-gradient(to bottom, rgb(161, 161, 161),rgba(98, 98, 98, 0)); */
    /* background-size: cover; */
    /* border-top: solid rgb(190, 190, 190) 3px; */

    /* box-shadow: 8x;
    border: solid rgb(98, 98, 98) 4px;
    border-radius: 10px;
    padding: 60px 220px;
    margin: 20px; */
    /* box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.29);
    transition: padding ease-out 500ms; */
    /* background-image: url("images/Sony-Logo.jpg"); */
    background-color: rgb(240, 96, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-position: center;
    background-size: cover; 
    /* border-color: rgba(255, 255, 255, 0.804);
    padding: 80px 280px;
    cursor: url('images/photo-cursor.png'), pointer;
    transition: padding ease-out 500ms;  */
}
#nail-button{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    background-color: rgb(240, 96, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-position: center;
  
    margin-bottom: 200px;
}
.art-info {
    
    background-size: cover;
    /* border: solid rgb(20, 20, 20) 4px; */
    border-radius: 10px;
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    margin-top: 100px;
    /* opacity: 75%; */
    color: rgb(0, 0, 0);
    align-items: center;
}
.art-button {
    font-size: 80px;
    size: larger;
}
#painting-button{
    font-family:
}

@media (max-width: 1000px) {
    /* .title-logo {
        height: 5vh;
        border-width: 2px;
    } */
    .title-image {
        height: 4vh;
    }
    
    .logo-container {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
    } 
    
    .searchBar-container,
    .cartButton-container {
        align-content: flex-end;
        align-self: stretch;
        margin: 10px;
    }

    .brand-info {
        margin-top: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-image: linear-gradient(to right, rgb(120, 120, 120), rgba(255, 255, 255, 0)); */
        padding: 20px;
        
    }
    
     .mainTitle {
        align-items: center; 
    } 
    
    .top-buttons {
        display: flex;
        align-items: center;
        margin-top: 10px;
    } 

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    
}
    




